<!DOCTYPE html>
<html>
    <head>
        <title>PartyMode for YouTube</title>
        <link rel="stylesheet" type="text/css" href="player.css">
    </head>
     <body>
         <!-- Include an invisible curtain to prevent things interacting with the page-->
        <div id="invisible_curtain"></div>
        <div id="auth_info_panel">
            <div id="auth_header">Add a song to the queue:</div>
            <div id="host">{{hostUrl}}</div>
            <div id="pass_phrase">{{authString}}</div>
            <div id="current_queue">Currently queued: <span id="queue_size">{{queueSize}}</span></div>
        </div>
        {{{body}}}
        <script>
            var queueKey = new URL(window.location.href).searchParams.get('key');
            if(queueKey) {
                setInterval(() => {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            var response = JSON.parse(this.responseText);
                            // If 'YT' exists, we're playing something. It will tell us to reload when it's finished so leave it to that.
                            // If it doesn't exist, and something is available to play, we should reload to play it.
                            if (typeof(YT) === 'undefined' && response.itemsAvailableToPlay) {
                                location.reload();
                            }
                            if (typeof(response.command) !== 'undefined' && typeof(player) !== 'undefined') {
                                if (response.command === 'PLAY') {
                                    player.playVideo();
                                }
                                if (response.command === 'PAUSE') {
                                    player.pauseVideo();
                                }
                                if (response.command === 'NEXTTRACK') {
                                    location.reload();
                                }
                            }
                        

                            document.getElementById('queue_size').innerText = response.queueLength;
                        }
                    }
                    xhttp.open('GET', '/api/poll?key=' + queueKey, true);
                    xhttp.send();
                }, 1000);
            }
        </script>
     </body>
</html>