mat-form-field {
  margin-top: 20px;
  width: 100%;
  flex: 2;
}

form {
  display: flex;
  width: 100%;
}

mat-list-item {
  overflow:hidden;
  height:70px;
}

#name {
  margin-right: 10px;
}

#channel {
  margin-right: 10px;
}

#searchBtn{
  margin-top: 37px;
}


.thumbnail {
  width: 70px !important;
  height: 50px !important;
  border-radius: 0px !important;
}