button {
  width: 50%;
}

mat-card {
  padding-top: 25px;
}

mat-card-title {
  font-size: 14pt;
}

mat-card-subtitle {
  font-size: 10pt;
}

#auto {
  font-size: 10px;
  background-color: #69f0ae;
  color: black;
  border-radius: 2px;
  margin-left: 5px;
  padding: 2px 4px 4px;
  vertical-align: 20%;
  text-transform: uppercase;
}