<!DOCTYPE html>
<html>
	<head>
		<title>YTPM</title>
		<meta charset="UTF-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/login.css">
        <style>
    	</style>
	</head>
	<body class="text-center">
		<form class="form-signin" method="POST" action="/client/login" enctype="application/x-www-form-urlencoded">
			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<label for="inputPreSharedKey" class="sr-only">Token</label>
			<input type="text" name="inputPreSharedKey" id="inputPreSharedKey" class="form-control" placeholder="Code on TV (e.g. ABC23)" required minlength="5" maxlength="5" autocomplete="off" style="text-transform:uppercase" autofocus>
			<label for="inputName" class="sr-only">Your Name</label>
			<input type="text" name="inputName" id="inputName" class="form-control" placeholder="Your Name" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
		<script>
			var queueKey = new URL(window.location.href).searchParams.get('key');
			if(queueKey) {
				document.getElementById('inputPreSharedKey').value = queueKey;
				document.getElementById('inputName').focus();
			}
		</script>
	</body>
</html>
