<!DOCTYPE html>
<html>
	<head>
		<title>History | YTPM</title>
		<meta charset="UTF-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/vue-toasted"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" crossorigin="anonymous">
		<script src="/util.js"></script>
		<link rel="stylesheet" href="/main.css">
		<link rel="stylesheet" href="/search.css">
		<link rel="stylesheet" href="/queue.css">
		<script>
			Vue.use(Toasted)
		</script>
	</head>
	<body class="bg-dark">
		<div id="history">
			<div id="curtain">
				<div id="selector">
					<div>
						<a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark" v-on:click="addToQueue(result)">
							<i class="material-icons enqueue-icons">add_to_queue</i> Add to Queue
						</a>
						<a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark" v-on:click="playNext(result)">
							<i class="material-icons enqueue-icons">queue_play_next</i> Play Next
						</a>
						<a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark" v-on:click="openYouTube(result)">
							<i class="material-icons enqueue-icons">open_in_new</i> YouTube
						</a>
						<a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark" v-on:click="cancel">
							<i class="material-icons enqueue-icons">cancel</i> Cancel
						</a>
					</div>
					<input type="checkbox" id="influence-auto-queue" name="Influence AutoQueue" v-model="influenceAutoQueue" value="autoqueue">
					<label id="influence-auto-queue-label" for="influence-auto-queue">Influence AutoQueue</label>
				</div>
			</div>
			<nav class="topbar navbar navbar-expand navbar-dark bg-dark">
				<i class="material-icons" v-on:click="home()">home</i> Play History
			</nav>
			<div id="history">
				<a href="javascript:;" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark" v-for="item in historyItems" v-on:click="selectItem(item)">
					<img v-bind:src="item.thumbnailUrl" width="80" height="60" style="float: left; margin-left: 5px; margin-right: 7px; clear: both;"> 
					<div class="item-details">		
						<p class="mb-1">{{item.title}}</p>
						<small>{{item.channelName}}</small>
					</div>
				</a>
			</div>
		</div>
		<script src="/vue/history.js"></script>
	</body>
</html>