<!DOCTYPE html>
<html>
	<head>
		<title>Home | PartyMode</title>
		<meta charset="UTF-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" crossorigin="anonymous">
		<style>
			.list-group-item{
				padding-top: 15px;
				height: 80px;
			}
			.material-icons {
				vertical-align: middle;
				font-size: 50px;
				margin-right: 20px;
			}
			.navbar {
				height: 120px;
			}
			.navbar-dark{
				color: white;
			}
		</style>
	</head>
	<body class="bg-dark">
		<nav class="navbar navbar-expand navbar-dark bg-dark">
			PartyMode for YouTube
		</nav>
		<div id="menu_options">
			<a href="search" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
				<i class="material-icons">search</i> Search
			</a>
			<a href="playing" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
				<i class="material-icons">play_circle_outline</i> Now Playing
			</a>
			<a href="queue" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
				<i class="material-icons">queue_music</i> Queue
			</a>
			<a href="channels" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
				<i class="material-icons">subscriptions</i> Channels
			</a>
			<a href="add_manually" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
				<i class="material-icons">input</i> Add song manually
			</a>
		</div>
	</body>
</html>