.topbar i {
	margin-right: 15px;
}

.btn-block {
	margin-bottom: 15px;
}

#videoTitle {
	font-weight: bold;
	font-size: large;
}

#videoDescription {
	height: 75px;
	overflow: scroll;
	overflow-x: hidden;
}

#channelName {
	font-size: small;
}

#playingDetails {
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}

#player-controls {
	text-align: center;
}

#play-button {
	font-size: 70px;
	vertical-align: middle;
}

#skip-button {
	font-size: 50px;
	vertical-align: middle;
}

#replay-button {
	font-size: 40px;
	vertical-align: middle;
}

#player-time {
	text-align: right;
}