.navbar {
	height: 70px;
	color: white;
}

.navbar i {
	margin-right: 15px;
}

#playingDetails {
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}

#player-controls {
	text-align: center;
}

#play-button {
	font-size: 70px;
	vertical-align: middle;
}

#skip-button {
	font-size: 50px;
	vertical-align: middle;
}

#player-time {
	text-align: right;
}