.search-field {
	width: calc(100% - 75px);
	margin-left: 15px;
	margin-right: 10px;
}

.search-icon {
	color: lightgreen;
}

.enqueue-icons {
	vertical-align: bottom;
	margin-right: 10px;
}

.home-icon {
	color: white;
}

.list-group-item {
	overflow: hidden;
}

.result-details {
	margin-left: 100px;
}

#curtain {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	visibility: hidden;
	z-index: 1040;
}

#spinner {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 36px;
	padding: 5px;
	background-color: rgba(0,0,0,0.9);
	color: white;
	visibility: hidden;
	z-index: 1040;
}

#selector {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 100px);
	width: 200px;
	height: 100px;
	visibility: hidden;
}

#results {
	padding-top: 70px;
}

#suggestions {
	padding-top: 70px;
}

#influence-auto-queue-label{
	margin-top: 10px;
	color: white;
}