<div id="song_info" class="animated">
    <img id="song_thumb" src="{{thumbnailSrc}}">
    <div id="song_title">{{videoTitle}}</div>
    <div id="song_added_by">{{addedByStr}}</div>
</div>

<div id="pausedOsd"><i id="pausedIcon" class="material-icons">pause</i></div>

<div id="loading_curtain"></div>

<div id="player"></div>

<script>
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
var player;
function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
    videoId: '{{videoId}}',
    playerVars: { 'autoplay': 1, 'controls': 0 },
    events: {
        'onStateChange': onPlayerStateChange
    }
    });
}

function onPlayerStateChange(event) {
    switch (event.data) {
        case YT.PlayerState.ENDED: {
            sendBeacon('ended');
            document.getElementById('loading_curtain').style.visibility = 'visible';
            location.reload();
            break;
        }
        case YT.PlayerState.PAUSED: {
            var data = {
                videoId: player.getVideoData().video_id,
                position: player.getCurrentTime(),
                duration: player.getDuration(),
            };

            sendBeacon('paused', data);
            document.getElementById('pausedOsd').style.visibility = 'visible';
            break;
        }
        case YT.PlayerState.PLAYING: {
            var data = {
                videoId: player.getVideoData().video_id,
                position: player.getCurrentTime(),
                duration: player.getDuration(),
            };

            sendBeacon('playing', data);
            document.getElementById('pausedOsd').style.visibility = 'hidden';
            setTimeout(function() {
                document.getElementById('loading_curtain').style.visibility = 'hidden';
            }, 100);
            break;
        }
        default: {
            sendBeacon(youTubePlayerStateToBeaconEvent(event.data));
        }
    }
}

// If the video hasn't changed from 'unstarted' within 10 seconds, reload to get a new song.
setTimeout(() => {
    if(player.getPlayerState() === YT.PlayerState.UNSTARTED){
        location.reload();
    }
}, 10000);

setTimeout(() => {
    document.getElementById('song_info').classList.add('slideOutUp');
}, 8000);

function youTubePlayerStateToBeaconEvent(state) {
    switch(state){
        case YT.PlayerState.BUFFERING: return 'buffering';
        case YT.PlayerState.CUED: return 'cued';
        case YT.PlayerState.ENDED: return 'ended';
        case YT.PlayerState.PAUSED: return 'paused';
        case YT.PlayerState.PLAYING: return 'playing';
        case YT.PlayerState.UNSTARTED: return 'unstarted';
        default: return 'unknown';
    }
}
</script>